.section {
  height: 100vh;
  position: relative;
  &__subtitle {
    font-size: 20px;
    line-height: 1.9;
    font-weight: 400;
  }
  &__title {
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    text-shadow: 0 0 2px #555;
    margin-bottom: 30px;
    @include for-size(mobile) {
      font-size: 48px;
    }
  }
  &__wrapper {
    max-width: 520px;
  }
  &__container {
    max-width: 1400px;
    width: 100%;
    padding-top: 60vh;
  }
  &__background {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &--first {
      background-image: url('../images/mobile_launches.jpg');
      @include for-size(tablet) {
        background-image: url('../images/desktop_launches.jpg');
      }
    }
    &--second {
      background-image: url('../images/homepage_mobile.jpg');
      @include for-size(tablet) {
        background-image: url('../images/homepage_desktop.jpg');
      }
    }
    &--third {
      background-image: url('../images/mobile_launches_mission.jpg');
      @include for-size(tablet) {
        background-image: url('../images/desktop_launches_mission.jpg');
      }
    }
  }
}
