.section {
  height: 100vh;
  width: 100vw;
  &__subtitle {
    font-size: 20px;
    line-height: 1.9;
    font-weight: 400;
  }
  &__title {
    font-size: 48px;
    line-height: 1;
    font-weight: 400;
    text-shadow: 0 0 2px #555;
    margin-bottom: 30px;
  }
  &__wrapper {
    position: absolute;
    bottom: 15%;
    max-width: 520px;
  }
  &__container {
    max-width: 1400px;
    width: 100%;
  }
}

.background {
  height: 100%;
  width: 100%;
  background-image: url('../images/desktop_launches.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include for-size(desktop) {
    .hero-canvas {
      background-image: url('../images/desktop_launches.jpg');
    }
  }
}
